body{
  background-color: lightblue;
}
img{
    height:auto;
    width:500px;
}
p{
    color: orange;
    font-size:30px;
}    
p:hover{
    text-decoration: underline;
}
    
#botonCambioTitulo{
    background-color: yellow;
}